<div align=center>
            <h3>New Fixed Deposit</h3>
</div>
<div class="container-div" >
        <div class="row">
                 <md-input-container >
                    <input required mdInput placeholder="Identification Number" type="text" [(ngModel)]="fd.InvestmentId" />
                </md-input-container>
                
        </div>
        <div>
            <div class="dual-column">
                <md-input-container >
                    <input required mdInput placeholder="Investment Amount" [(ngModel)]="fd.InvestmentAmount"/>
                 </md-input-container >
            </div>
            <div class="dual-column"> 
                 <md-input-container>
                     <input required mdInput placeholder="Maturity Amount" [(ngModel)]="fd.MaturityAmount"/>
                 </md-input-container>
            </div>
        </div>
        <div>
            <div class="dual-column"> 
                <md-input-container>
                        <input required mdInput [mdDatepicker]="openingDate" placeholder="Opening Date(dd/mm/yyyy)" [(ngModel)]="fd.InvestmentDate"/>
                        <button mdSuffix [mdDatepickerToggle]="openingDate"></button>
                </md-input-container>
                <md-datepicker #openingDate></md-datepicker>
            </div>
            <div class="dual-column">
                <md-input-container>
                    <input required mdInput [mdDatepicker]="maturityDate" placeholder="Maturity Date(dd/mm/yyyy)" [(ngModel)]="fd.MaturityDate"  />
                    <button mdSuffix [mdDatepickerToggle]="maturityDate"></button>
                </md-input-container>
                <md-datepicker #maturityDate></md-datepicker>
            </div>
        </div>
        
         <div>
            <div class="dual-column">
                <md-input-container >
                    <input required mdInput placeholder="Investment By" [(ngModel)]="fd.InvestedBy"/>
                 </md-input-container >
            </div>
            <div class="dual-column"> 
                 <md-input-container>
                     <input mdInput placeholder="Nominated To" [(ngModel)]="fd.NominatedTo"/>
                 </md-input-container>
            </div>
        </div>
        <div>
            <div class="dual-column"> 
                <md-input-container>
                    <input required mdInput  placeholder="Rate Of Intrest" [(ngModel)]="fd.RateOfIntrest"/>
                </md-input-container>
            </div>
             <div class="dual-column">
                <md-slider min="0" max="12" step="0.1" tickInterval="0.1" [(ngModel)]="fd.RateOfIntrest"></md-slider>
            </div>
        </div>
        <div class="row">   
            <div align="center" class="block">
                <a md-raised-button color='primary' routerLink=".">Add</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a md-raised-button color='secondary' routerLink=".">Clear</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;
            </div>
        </div> 
        
</div>

      