.container-div {
    padding-left: 10%;
    padding-top: 5%;
    height: 100%;
}

.row{
    width:100%;
    float: left;
}

.dual-column{
    width: 50%;
    float: left;
}

.input{
    width:90%;
}

md-input-container{
    width:80%;
}

md-slider{
    width: 60%
}

.block{
    padding-top:7%;
    padding-bottom:40%;
}